{
  "singleQuote": true,
  "printWidth": 120,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "semi": true
}
